.messages-output {
    height: 80vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 200px;
    max-width: 80%;
    text-align: left;
    min-height: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    display:inline-block;
    border-radius: 10px;
    background-color: #d1e7dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.message-inner:hover {
    transform: scale(1.02);
}

.incoming-message .message-inner {
    background-color: #ffdab9;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.message-timestamp-left {
    font-size: 0.85em;
    font-weight: 300;
    margin-top: 10px;
    color: #6c757d;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
    background-color: #e9ecef;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #495057;
}

.conversation-info {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 2px solid #ced4da;
    transition: transform 0.2s;
}

.conversation-profile-pic:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .message-inner {
        max-width: 90%; 
    }

    .conversation-profile-pic {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .message-inner {
        max-width: 100%; 
    }

    .conversation-profile-pic {
        width: 40px;
        height: 40px;
    }

    .conversation-info {
        height: auto;
    }
}
